include ../dropdownItem/dropdownItem

mixin dropdown({ dropdownId="", isExpanded=false, options=[] })
  -
    const dropdownExpand = isExpanded ? "active" : "";
    const dropdownExpandGuests = dropdownId === "guests" ? "dropdown__expand_guests" : "";

  .dropdown( data-id = dropdownId )
    .dropdown__block( class = dropdownExpand )
      input&attributes({
        class: "dropdown__total",
        type: "text", 
        readonly: true
      })
    .dropdown__expand( class = dropdownExpandGuests )
      each item in options
        +dropdownItem({ title: item.title, count: item.count })
      if ( dropdownId == "guests" ) 
        .dropdown__buttons
          +button({ buttonLink: false, btnTitle: "очистить", btnId: "clear"})
          +button({ buttonLink: false, btnTitle: "применить", btnId: "apply"})
