include ../dropdownItem/dropdownItem

mixin dropdown({ isExpanded=false, options=[]})
  -
    const dropdownExpand = isExpanded ? "active" : "";

  .dropdown
    .dropdown__block( class = dropdownExpand )
      input&attributes({
        class: "dropdown__total",
        type: "text", 
        readonly: true
      })
    .dropdown__expand
      each item in options
        +dropdownItem({ title: item.title, count: item.count, id: item.id })
