@import '../../scss/variables';

.dropdown {
  cursor: pointer;
  position: relative;

  &__block {
    display: flex;
    height: 44px;
    border: $border__light;
    border-radius: 4px;
    align-items: center;
    box-sizing: border-box;
  }
  
  &__total {
    border: none;
    outline: none;
    padding: 0;
    font-family: $mainFont;
    font-size: $mainFont--size;
    line-height: 24px;
    color: $color--darkShade75;
    padding-left: 13px;
    padding-bottom: 1px;
    cursor: pointer;
    user-select: none;
  }

  &__block::after {
    content: '\e905';
    font-family: $materialIcons;
    color: $color--darkShade50;
    font-size: 8px;
    position: absolute;
    right: 0;
    padding-right: 16px;
  }

  &__block.active::after {
    content: '\e900';
  }

  &__expand {
    border: $border__dark;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 6px 6.5px 7px 14px;
    position: absolute;
    background: #FFFFFF;
    z-index: 3;
    width: 100%;
    box-sizing: border-box;
    
    &_guests {
      padding: 6px 7px 11px 15px;
    }
  }

  &__block + .dropdown__expand {
    display: none;
  }

  &__block.active {
    border: $border__dark;
    border-bottom: transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 42px;
  }
  
  &__block.active + .dropdown__expand {
    display: block;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
  }
}
