@import '../../scss/variables';

.dropdown {
  cursor: pointer;

  &__block {
    display: flex;
    height: 44px;
    border: $border__light;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
    align-items: center;
  }
  
  &__title {
    padding-left: 15px;
    font-family: $mainFont;
    font-size: $mainFont--size;
    line-height: 24px;
    color: $color--darkShade75;
  }

  &__block::after {
    content: '\e905';
    font-family: $materialIcons;
    color: $color--darkShade75;
    font-size: 8px;
    position: absolute;
    right: 0;
    padding-right: 16px;
  }

  &__block.active::after {
    content: '\e900';
  }

  &__expand {
    height: 119px;
    border: $border__dark;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &__block + .dropdown__expand {
    display: none;
  }

  &__block.active {
    border: $border__dark;
    border-bottom: transparent;
  }

  &__block.active + .dropdown__expand, 
  .dropdown__expand_visible {
    display: block;
  }
}

.dropdown__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7px;
  font-family: $mainFontBold;
  font-size: 12px;
  line-height: 15px;
  color: $color--main;
}

.dropdown__itemName {
  text-transform: uppercase;
  margin-left: 15px;
}

.dropdown__itemButtons {
  display: flex;
  justify-content: space-between;
  margin-right: 7px;
  width: 92px;
  align-items: center;
}

.dropdown__itemBtnMinus,
.dropdown__itemBtnPlus {
  background: transparent;
  width: 30px;
  height: 30px;
  border-radius: 22px;
  border: 1px solid $color--darkShade25;
  font-family: $mainFont;
  font-size: 18px;
  line-height: 22px;
  color: $color--darkShade50;
}

.dropdown__itemBtn_disabled {
  border: 1px solid $color--darkShade1;
}
