include ../dropdownItem/dropdownItem

mixin dropdown({ isExpanded=false, options=[]})
  -
    const dropdownExpand = isExpanded ? "dropdown__expand_visible" : ""

  .dropdown
    .dropdown__block
      input&attributes({
        class: "dropdown__total", 
        type: "text", 
        readonly: true,
      })
    .dropdown__expand( class=dropdownExpand )
      each item in options
        +dropdownItem({ title: item.title, count: item.count, id: item.id })
