include ../dropdownItem/dropdownItem

mixin dropdown({ isExpanded=false })
  -
    const dropdownExpand = isExpanded ? "dropdown__expand_visible" : ""

  .dropdown
    .dropdown__block
      .dropdown__total
    .dropdown__expand( class=dropdownExpand )
      +dropdownItem({name: "спальни"})
      +dropdownItem({name: "кровати"})
      +dropdownItem({name: "ванные комнаты"})
     

    script.
      
      let itemsTotal = document.querySelector('.dropdown__total');
      itemsTotal.innerText = `${numberDefault} спальни`
