@import '../../scss/variables.scss';

.pagination {

  font-family: $mainFont;
  color: $color--darkShade50;
  font-size: 12px;
  line-height: 15px;
  
  &__pages {
    display: flex;
    padding: 0;
    cursor: pointer;
    margin-bottom: 10.56px;
    
    & > li {
      list-style-type: none;
      margin-right: 10px;
      
    }
  }

  
  // border-radius: 50px;

  // &__arrow::after {
  //   content: '\e904';
  //   font-family: $materialIcons;
  //   color: #fff;
  //   font-size: 17px;
  // }
  
  // &:hover,
  // &_hover {
  //   background: $primaryGradient_50;
  // }

  &__text {
    color: $color--darkShade75;
    line-height: 24px;
  }


}
