mixin pagination()
  .pagination
    ul.pagination__pages 
    .pagination__text из 100+ вариантов аренды

  script.
    let numberVariants = 80;
    let notesOnPage = 12;
    let numberPages = Math.ceil( numberVariants / notesOnPage );
    const pagination = document.querySelector(".pagination__pages");
    for ( let i = 1; i <= numberPages; i++ ) {
      let li = document.createElement('li');
      li.innerHTML = i;
      pagination.appendChild(li);
     }

    