@import '../../scss/variables.scss';

.pagination {
  font-family: $mainFont;
  font-size: 12px;
  line-height: 15px;
  
  &__text {
    color: $color--darkShade75;
    line-height: 24px;
    font-size: 14px;
    padding-left: 6px;
    letter-spacing: 0.1px;
  }
  
  &__pages {
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 7px;
  }
  
  &__pages li{
    height: 40px;
    width: 40px;
    color: $color--darkShade50;
    list-style: none;
    text-align: center;
    cursor: pointer;
    user-select: none;
    list-style: none;
    line-height: 40px;
    border-radius: 22px;
  }

  &__pages .dots{
    font-size: 12px;
    cursor: default;
    line-height: 40px;
  }

  &__pages .arrowForward, 
  &__pages .arrowBack {
    background: $secondGradient;
  }

  &__pages .arrowBack::before {
    content: '\e900';
    font-family: $materialIconArrow;
    color: #fff;
    font-size: 25px;
  }
  
  &__pages .arrowForward::after{
    content: '\e904';
    font-family: $materialIcons;
    color: #fff;
    font-size: 18px;
  }

  & .active,
  &__pages .numb:hover {
    color: #fff;
    background: $primaryGradient;
    font-family: $mainFontBold;
  }
}
