.header
  .header__logoCircle
    include ../commonBlocks/logoCircle/logoCircle
  .header__logoTitle
    include ../commonBlocks/logoTitle/logoTitle
  .header__nav
    include ../commonBlocks/nav/nav
  .header__buttonLogin
    include ../commonBlocks/buttonLogin/buttonLogin
  .header__buttonRegister
    include ../commonBlocks/buttonRegister/buttonRegister