.nav {
  display: flex;
  flex-flow: row wrap;
  line-height: inherit;
  
  font-family: "Montserrat-regular";
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
}
.nav_img {
  width: 12px;
  height: 7px;
  margin: auto;
  margin-right: 25.5px;
  margin-left: 0px;
  padding-left: 5px;
  padding-top: 2px;
}
.nav_a-style {
  margin-right: 29px;
  text-decoration: none;
  color: rgba(31, 32, 65, 0.5);
  line-height: 17px;
}
.nav_a-style_bold {
  font-family: "Montserrat-bold";
}
.nav_a-style_margin-right {
  margin-right: 0px;
}
.nav_a-style_margin-right-two {
  margin-right: 18px;
}


// .nav_dropdown {
//   position:absolute;
//   list-style: none;
//   display: none;
//   padding: 0;
//   line-height: 40px;
// }

// .nav_li-hover:hover > .nav_dropdown {
//   display: block;
// } 
