.nav
  a.nav_a-style.nav_a-style_bold(href='#') Home
  a.nav_a-style(href='#') About Us
  a.nav_a-style.nav_a-style_margin-right(href='#') Services
  img.nav_img(src="./img/nav__expand-more.png")
  a.nav_a-style(href='#') Careers
  a.nav_a-style.nav_a-style_correct(href='#') News
  a.nav_a-style.nav_a-style_margin-right-two(href='#') Documentation
