@import '../../scss/variables.scss';

.roomWidget {
  width: 270px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px $color--darkShade5;
  border-radius: 4px;
  
  &__carousel {
    position: relative;
  }

  &__wrapper {
    padding: 20px 17px 19px 20px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 10px;
  }
  
  &__border {
    height: 1px;
    background: $color--darkShade1;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
  }

  &__commentCount {
    padding-right: 3px;
  }
}
