mixin pagination(options)
  //- table.table
  ul.pagination
  .pagination__results
  
  script.
    //- let table = document.querySelector('.table');
    let pagination = document.querySelector('.pagination');
    let pagResults = document.querySelector('.pagination__results');
    let results = 80;
    let notesOnPage = 12;
    let countOfPages = Math.ceil(results / notesOnPage);
    let numberOfPages = 5;

    //- creating pagination

    function createPagination (i) {
      let li = document.createElement('li');
      li.innerHTML = i;
      pagination.appendChild(li);
      li.classList.add('pagination__item');
      items.push(li);
    }

    function createArrowRight () { 
      let arrowRight = document.createElement('div');
      pagination.append(arrowRight);
      arrowRight.classList.add('pagination__arrowRight')
      items[4].innerHTML = countOfPages;
      items[3].innerHTML = '...';
      //- items[3].onclick = null;
      arrowRight.addEventListener("click", function(){
        if (items.indexOf(items[i]) <= 1) {
          showPage(items[i+1]);
        }
      });
    }

    let items = [];
    if (countOfPages <= numberOfPages) {
      for (let i = 1; i <= countOfPages; i++) {
        let k = i;
        createPagination (k);
      }
    }
      
    if (countOfPages > numberOfPages ) {
      for (let i = 1; i <= numberOfPages; i++) {
        let k = i;
        createPagination (k);
      }
      createArrowRight ();
    }
    
    showPage(items[0]);

    //- add addEventListener to pagination item 
    for (let item of items) {
      item.addEventListener("click", function() {
        showPage(this);
      });
    }

    
    function showPage(item) {
      let active = document.querySelector('.active');
      if (active) {
        active.classList.remove('active');
      }
      active = item;
      item.classList.add('active');
      createText (item);
    }

    function createText (item) {
      let pageNum = +item.innerHTML;
      let start = (pageNum - 1) * notesOnPage;
      let end = start + notesOnPage;
      if (end > results) {
        end = results;
      };
      pagResults.innerHTML = `${start+1} - ${end} из ${results}+ вариантов аренды`;
    }

        //- add

    let notes = users.slice(start, end);
    table.innerHTML = '';
    for (let note of notes) {
      let tr = document.createElement('tr');
      table.appendChild(tr);
      
      createCell(note.name, tr);
      createCell(note.surname, tr);
      createCell(note.age, tr);
    }
    
    function createCell(text, tr) {
      let td = document.createElement('td');
      td.innerHTML = text;
      tr.appendChild(td);
    }
