mixin pagination(options)
  //- table.table
  ul.pagination
  .pagination__results
  
  script.
    //- let table = document.querySelector('.table');
    let pagination = document.querySelector('.pagination');
    let pagResults = document.querySelector('.pagination__results');
    let results = 50;
    let notesOnPage = 12;
    let countOfPages = Math.ceil(results / notesOnPage);

    //- creating pagination
    let items = [];
    for (let i = 1; i <= countOfPages; i++) {
      let li = document.createElement('li');
      li.innerHTML = i;
      pagination.appendChild(li);
      li.classList.add('pagination-style');
      items.push(li);
    }
    showPage(items[0]);

    //- add addEventListener to pagination item 
    for (let item of items) {
      item.addEventListener("click", function() {
        showPage(this);
      });
    }

    //- for (let item of items) {
    //-   item.addEventListener("click", function() {
    //-     showPage());
    //-   }
    //-   );
    //- }

    function showPage(item) {
      let active = document.querySelector('.active');
      if (active) {
        active.classList.remove('active');
      }
      active = item;
      item.classList.add('active');

      let pageNum = +item.innerHTML;
      let start = (pageNum - 1) * notesOnPage;
      let end = start + notesOnPage;
      if (end > results) {
        end = results;
      };
      pagResults.innerHTML = `${start+1} - ${end} из ${results}+ вариантов аренды`;
    }


    //- let notes = users.slice(start, end);
    //- table.innerHTML = '';
    //- for (let note of notes) {
    //-   let tr = document.createElement('tr');
    //-   table.appendChild(tr);
      
    //-   createCell(note.name, tr);
    //-   createCell(note.surname, tr);
    //-   createCell(note.age, tr);
    //- }
    
    //- function createCell(text, tr) {
    //-   let td = document.createElement('td');
    //-   td.innerHTML = text;
    //-   tr.appendChild(td);
    //- }
