.button-form {
  display: inline-block;
}
.button {
  font-family: "Montserrat-bold";
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border: none;
  padding: 0px;
  outline: none;
  cursor: pointer;
  width: 99px;
  height: 44px;
  border-radius: 22px;
  &:hover {
    opacity: 0.5;
  };
  position: relative;
  z-index: 0;
}
.button_color_white {
  color: #BC9CFF;
}
// Доделать цвет названия кнопки
.button_color_white::before {
  content: '';
  width: 95px;
  height: 40px;
  border-radius: 20px;
  position: absolute;
  margin-top: -12.5px;
  margin-left: 2px;
  z-index: -1;
  display: block;
  background:  #FFFFFF;
}
.button_hover {
  opacity: 0.5;
  margin-left: 15px;
  margin-bottom: 30px;
}
.buttonLink {
  color: #BC9CFF;
  background: transparent;
  width: 61px;
  height: 15px;
  &:hover {
    opacity: 1;
    color: rgba(31, 32, 65, 0.5);
  };
}
.buttonLink_hover {
  color: rgba(31, 32, 65, 0.5);
  width: 61px;
  height: 15px;
  margin-left: 20px;
  margin-bottom: 30.44px;
  background: transparent;
  &:hover {
    opacity: 1;
  };
}
