include ../components/logo/logo
include ../components/heading/heading
include ../components/textField/textField




.formElements
  .formElements__logo
    +logo('colorless')
  section.formElements__textFields
    .formElements__textFieldDefault
      +heading({title: "text field", state: "default"})
      +textField({type: "email", placeholder: "Email"})
    .formElements__textFieldHover
      +heading({title: "text field", state: "hover/focus"})
      +textField({type: "email", isFocused: true, value: "This is pretty awesome"})
    .formElements__dropdownDefault
      +heading({title: "dropdown"})
      +textField({value: "Сколько гостей"})

  
  //- .formElements__textFieldDefault
  //-   .textField__default default
  //-   include ./commonBlocks/textField/textField
  //-   +textField({label: 'text field', idInput: 'email', typeInput: 'email', placeholderInput: 'Email'})
  //- .formElements__textFieldHover
  //-   .textField__hover hover/focus
  //-   include ./commonBlocks/textField/textField
  //-   +textField({label: 'text field', idInput: 'text', typeInput: 'text', placeholderInput: 'This is pretty awesome', borderDark: true})
  //- .formElements__dropdownGuestsDefault
  //-   include ./commonBlocks/dropdown/dropdown
  //-   +dropdown({label: 'dropdown'})


  //- .formElements__textFieldMasked
  //-   include ./commonBlocks/textField/textField
  //-   +textField({label: 'masked text field', idInput: "date", typeInput: "date", placeholderInput: 'дд.мм.гггг'})
  //- .formElements__dropdownDateDefault
  //-   include ./commonBlocks/dropdown/dropdown
  //-   +dropdown({label: ' date dropdown'})
  //- .formElements__dropdownDate
  //-   include ./commonBlocks/dropdown/dropdown
  //-   +dropdown({label: 'date dropdown'})
  //- .formElements__dropdownFilterDate
  //-   include ./commonBlocks/dropdown/dropdown
  //-   +dropdown({label: 'filter date dropdown'})

  //- .formElements__textFieldSubscription
  //-   include ./commonBlocks/textField/textField
  //-   +textField({label: 'subscription text field', idInput: 'emailSub', typeInput: 'email', placeholderInput: 'Email', button: true})
  //- .formElements__dropdownBedsDefault
  //-   .dropdown__defaultState default 
  //-   include ../components/dropdown/dropdown
  //-   +dropdown({idDropdown: 'dropdown', label: 'dropdown', titleDefault: '2 спальни, 2 кровати...'})
  //- .formElements__dropdownBedsExpanded
  //-   .dropdown__expanded expanded
  //-   include ./commonBlocks/dropdown/dropdown
  //-   +dropdown({idDropdown: 'dropdown', label: 'dropdown'})

  //- .formElements__dropdownGuests
  //-   .dropdown__default default 
  //-   include ./commonBlocks/dropdown/dropdown
  //-   +dropdown({title: 'dropdown'})

  
  //- .formElements__checkboxButtons 
  //-   include ./commonBlocks/checkboxButtons/checkboxButtons
  //-   +checkboxButtons

  //- .formElements__radioButtons 
  //-   include ./commonBlocks/radioButtons/radioButtons
  //-   +radioButtons({nameOptionOne: 'Мужчина', nameOptionTwo: 'Женщина'})

  //- .formElements__toggle 
  //-   include ./commonBlocks/toggle/toggle
  //-   +toggle({nameOption: 'Получать спецпредложения'})
  
  //- .formElements__likeButton
  //-   .formElements__likeButtonNameBlock Like button
  //-   include ./commonBlocks/likeButton/likeButtonGrey/likeButtonGrey
  //-   +likeButtonGrey
  //-   include ./commonBlocks/likeButton/likeButtonColor/likeButtonColor
  //-   +likeButtonColor

  //-   .formElements__rateButton
  //-   include ./commonBlocks/rateButton/rateButton
  //-   +rateButton
  //-   +rateButton

  //- .formElements__dropdownHover
  //-   include ./commonBlocks/dropdown/dropdown
  //-   +dropdown({leftWord: 'text field', rightWord: 'hover / focus', title: 'This is pretty awesome', borderDark: true, colorDark: true})
  //- .formElements__dropdownDefault
  //-   include ./commonBlocks/dropdown/dropdown
  //-   +dropdown({leftWord: 'dropdown', rightWord: 'default', title: 'Сколько гостей', colorDark: true, arrow: true})

  //- .formElements__richCheckboxButtons 
  //-   include ./commonBlocks/richCheckboxButtons/richCheckboxButtons
  //-   +richCheckboxButtons

  //- .formElements__buttons
  //-   .formElements__buttonsTitle Buttons
  //-   include ./commonBlocks/buttons/button/button
  //-   +button({title: 'Click me'})
  //-   +button({title: 'Click me', hover: true})
  //-   +button({title: 'Click me', colorWhite: true})
  //-   +button({title: 'Click me', colorWhite: true, hover: true})
  //-   +button({title: 'Click me', link: true})
  //-   +button({title: 'Click me', hoverLink: true})
  //-   +button({title: 'Перейти к оплате', default: true})
    
  //- .formElements__pagination
  //-   .formElements__paginationTitle Pagination
  //-   include ./commonBlocks/pagination/pagination
  //-   +pagination({})

  
  //- .formElements__guestRecall
  //-   include ./commonBlocks/guestRecall/guestRecall
  //-   +guestRecall

  //- .formElements__bulletList
  //-   include ./commonBlocks/bulletList/bulletList
  //-   +bulletList
