

.formElements {
  margin-left: 141px;
  margin-top: 62px;

  display: grid;
  grid-template-areas:
    "textFields checkboxes buttons"
    "textFields feedback feedback";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 158px;

  &__textFields {
    grid-area: textFields;
    width: 320px;
  }

  &__textFieldHover {
    margin: 20px 0;
  }

  &__maskedTextField {
    margin: 20px 0 40px 0;
  }

  &__dateDropdowns {
    display: flex;
    justify-content: space-between;
  }

  &__dateDropdownDefault,
  &__dateDropdown {
    width: 150px;
  }

  &__filterDateDropdown,
  &__subscriptionTextField {
    width: 266px;
  }

  &__filterDateDropdown {
    margin: 40px 0;
  }

  &__subscriptionTextField {
    margin-bottom: 100px;
  }

  &__dropdownBedroomDefault {
    margin-bottom: 20px;
    max-width: 266px;
  }
  
  &__checkboxExpandable {
    margin-bottom: 100px;
    max-width: 266px;
  }

  &__checkboxRadioButtons {
    grid-area: checkboxes;
    margin-left: 126px;
    margin-right: 72px;
    width: 260px;
  }

  &__checkbox {
    margin-bottom: 50px;
  }

  &__checkboxRich {
    margin-bottom: 50px;
  }

  &__radioButtons {
    margin-bottom: 36.56px;
  }

  &__radioButtons-wrapper {
    display: flex;
    width: 220px;
    justify-content: space-between;
    margin-top: 16px;
  }

  &__toggle {
    margin-bottom: 40.44px;
  
    &-wrapper {
      margin-top: 16px;
      height: 54px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__like {
    margin-bottom: 40px;
  
    &-wrapper {
      display: flex;
      justify-content: space-between;
      margin-right: 170px;
      margin-top: 16px;
    }
  }

  &__rate {
    margin-bottom: 196px;

    &-wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 16px;
    }
  }

  &__sliderButtons {
    grid-area: buttons;
    width: 320px;
  }

  &__rangeSlider {
    margin-bottom: 41px;
  }

  &__buttons {
    margin-bottom: 40px;

    &-wrapper {
      display: flex;
      flex-direction: column;
      margin-top: 16px;
    }

    &-container {
      display: flex;
      gap: 20px;
      width: 218px;
      height: 44px;
      margin-bottom: 30px;
    }
    
    &-iconLinks {
      display: flex;
      justify-content: space-between;
      width: 142px;
      margin-bottom: 30px;
    }

    &-large {
      width: 320px;
      height: 44px;
    }
  }

  &__pagination {
    margin-bottom: 230px;
    width: 350px;
  }
  
  &__bulletList {
    margin-bottom: 30px;
  }
  
  &__feedback {
    grid-area: feedback;
    margin-left: 126px;
  }
}
