

.formElements {

  &__logo {
    margin: 30px 0 62px 30px
  }

  &__textFields {
    margin-left: 141px;
  }
  
  &__textFieldDefault, 
  &__textFieldHover, 
  &__dropdownDefault
  {
    width: 320px;
  }

  &__textFieldHover {
    margin: 20px 0;
  }


}
