.formElements
  .formElements__blockName Form Elements
  .formElements__commonLogoCircle
    include ../headersFooters/commonBlocks/commonLogoCircle/commonLogoCircle
  //- .formElements__dropdownEmail
  //-   include ./commonBlocks/dropdown/dropdown
  //-   +dropdown({formName: 'text field', default: 'default'})

  .formElements__checkboxButtons 
    include ./commonBlocks/checkboxButtons/checkboxButtons
    +checkboxButtons({nameOption: 'Можно курить'})
    +checkboxButtons({nameOption: 'Можно с питомцами'})
    +checkboxButtons({nameOption: 'Можно пригласить гостей (до 10 человек)'})

  .formElements__radioButtons 
    include ./commonBlocks/radioButtons/radioButtons
    +radioButtons({nameOptionOne: 'Мужчина', nameOptionTwo: 'Женщина'})





  //- .formElements__dropdownHover
  //-   include ./commonBlocks/dropdown/dropdown
  //-   +dropdown({leftWord: 'text field', rightWord: 'hover / focus', title: 'This is pretty awesome', borderDark: true, colorDark: true})
  //- .formElements__dropdownDefault
  //-   include ./commonBlocks/dropdown/dropdown
  //-   +dropdown({leftWord: 'dropdown', rightWord: 'default', title: 'Сколько гостей', colorDark: true, arrow: true})
