.formElements
  //- .formElements__blockName Form Elements
  //- .formElements__commonLogoCircle
  //-   include ../headersFooters/commonBlocks/commonLogoCircle/commonLogoCircle
  //- .formElements__dropdownEmail
  //-   include ./commonBlocks/dropdown/dropdown
  //-   +dropdown({formName: 'text field', default: 'default'})

  //- .formElements__checkboxButtons 
  //-   include ./commonBlocks/checkboxButtons/checkboxButtons
  //-   +checkboxButtons

  //- .formElements__radioButtons 
  //-   include ./commonBlocks/radioButtons/radioButtons
  //-   +radioButtons({nameOptionOne: 'Мужчина', nameOptionTwo: 'Женщина'})

  //- .formElements__toggle 
  //-   include ./commonBlocks/toggle/toggle
  //-   +toggle({nameOption: 'Получать спецпредложения'})
  
  //- .formElements__likeButton
  //-   include ./commonBlocks/likeButton/likeButton
  //-   +likeButton({src: "./img/imgColorGray.png"})
  //-   +likeButtonBlue({src: "./img/imgColorBlue.png"})

  //- .formElements__rateButton
  //-   include ./commonBlocks/rateButton/rateButton
  //-   +rateButton
  //-   //- +rateButton

  //- .formElements__dropdownHover
  //-   include ./commonBlocks/dropdown/dropdown
  //-   +dropdown({leftWord: 'text field', rightWord: 'hover / focus', title: 'This is pretty awesome', borderDark: true, colorDark: true})
  //- .formElements__dropdownDefault
  //-   include ./commonBlocks/dropdown/dropdown
  //-   +dropdown({leftWord: 'dropdown', rightWord: 'default', title: 'Сколько гостей', colorDark: true, arrow: true})

  .formElements__richCheckboxButtons 
    include ./commonBlocks/richCheckboxButtons/richCheckboxButtons
    +richCheckboxButtons
