.toggle__nameBlock {
  font-family: "Montserrat-bold";
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  margin-bottom: 16px;
  user-select: none;
}
.toggle__labelStyle {
  position: relative;
  display: inline-block;
  margin-bottom: 12px;
}
.toggle__inputStyle {
  opacity: 0;
  position: absolute;
  height: 0;
  width: 0;
}
.toggle__customToggle {
  cursor: pointer;
  font-family: "Montserrat-regular";
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  padding-left: 50px;
  user-select: none;
}
.toggle__customToggle::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 40px;
  background-color: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
}
.toggle__customToggle::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background: rgba(31, 32, 65, 0.25);
  left: 4px;
  top: 6px;
  transition: 400ms;
}
.toggle__inputStyle:checked +
.toggle__customToggle::after {
  left: 24px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.toggle__inputStyle:checked +
.toggle__customToggle::before {
  border: 1px solid #BC9CFF;
}
