.toggle__nameBlock Toggle
mixin toggle(options)
  label.toggle__labelStyle
    input(type="checkbox" checked).toggle__inputStyle
    .toggle__customToggle= options.nameOption
  label.toggle__labelStyle
    input(type="checkbox").toggle__inputStyle
    .toggle__customToggle= options.nameOption
