<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body.color1
    //- include src/setColorsType/setColorsType
    //- include src/cards/cards
    include src/headersFooters/headersFooters
    //- include src/formElements/formElements
