.pageStart {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat-Bold";
  color: rgba(31, 32, 65, 0.75);
  font-size: 20px; }
  .pageStart__uikit {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .pageStart__uikit:focus, .pageStart__uikit:hover {
      color: rgba(31, 32, 65, 0.75);
      outline: none; }
  .pageStart__pagesHotel {
    margin-top: 30px; }
  .pageStart__footer {
    font-family: "Montserrat-Bold";
    font-size: 20px;
    margin: 0 auto; }
  .pageStart__footer a {
    color: rgba(31, 32, 65, 0.5);
    text-decoration: none; }
    .pageStart__footer a:hover {
      color: #1F2041; }

