.registrationPage {
  background: url(images/registration.jpg) no-repeat;
  background-size: cover;
  display: flex; }
  .registrationPage__card {
    margin: 19px auto;
    min-width: 380px;
    max-width: 380px; }
    @media (max-width: 480px) {
      .registrationPage__card {
        min-width: 200px;
        margin-top: 60px;
        margin-bottom: 60px; } }

