.roomDetailsPage__images {
  display: flex;
  max-width: 1440px;
  max-height: 485px;
  margin: 0 auto; }

.roomDetailsPage__photo {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.roomDetailsPage__mainPhoto {
  flex: 1 0 981px;
  min-width: 320px; }
  @media (max-width: 1240px) {
    .roomDetailsPage__mainPhoto {
      width: 100%;
      flex-grow: 0;
      flex-shrink: 1; } }

.roomDetailsPage__wrapper {
  display: flex;
  flex-direction: column; }
  @media (max-width: 1240px) {
    .roomDetailsPage__wrapper {
      display: none; } }

.roomDetailsPage__firstPhoto, .roomDetailsPage__secondPhoto {
  height: 50%; }

.roomDetailsPage__content {
  display: flex;
  max-width: 1160px;
  margin: 70px auto; }
  @media (max-width: 1240px) {
    .roomDetailsPage__content {
      flex-direction: column;
      align-items: center; } }

.roomDetailsPage__content {
  display: flex;
  max-width: 1440px;
  margin: 70px auto;
  justify-content: center; }
  @media (max-width: 480px) {
    .roomDetailsPage__content {
      margin: 40px auto; } }

.roomDetailsPage__container {
  display: flex;
  flex-wrap: wrap;
  max-width: 711px;
  margin-right: 69px; }
  @media (max-width: 1240px) {
    .roomDetailsPage__container {
      margin-right: 0; } }
  @media (max-width: 990px) {
    .roomDetailsPage__container {
      flex-direction: column;
      padding: 0 20px; } }
  @media (max-width: 480px) {
    .roomDetailsPage__container {
      flex-direction: column;
      padding-left: 50px;
      padding-right: 30px;
      max-width: 300px; } }

.roomDetailsPage__roomInfo {
  min-width: 280px;
  max-width: 280px;
  margin-right: 70px;
  margin-bottom: 30px; }
  @media (max-width: 990px) {
    .roomDetailsPage__roomInfo {
      margin-right: 0;
      margin-bottom: 20px; } }
  @media (max-width: 480px) {
    .roomDetailsPage__roomInfo {
      max-width: 280px; } }

.roomDetailsPage__chartData {
  max-width: 311px;
  min-width: 311px; }
  @media (max-width: 990px) {
    .roomDetailsPage__chartData {
      margin-bottom: 50px; } }
  @media (max-width: 480px) {
    .roomDetailsPage__chartData {
      max-width: 300px;
      margin-bottom: 30px; } }

.roomDetailsPage__comments {
  margin-bottom: 30px; }
  @media (max-width: 480px) {
    .roomDetailsPage__comments {
      max-width: 300px;
      padding: 5px 15px; } }

.roomDetailsPage__roomInfoTitle, .roomDetailsPage__chartTitle, .roomDetailsPage__commentsHeading, .roomDetailsPage__rulesTitle, .roomDetailsPage__cancelTitle {
  margin-bottom: 20px;
  font-family: "Montserrat-Bold";
  color: #1F2041;
  font-size: 19px;
  line-height: 23px; }

@media (max-width: 480px) {
  .roomDetailsPage__roomInfoTitle {
    margin-bottom: 0; } }

.roomDetailsPage__commentsHeading {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 480px) {
    .roomDetailsPage__commentsHeading {
      flex-direction: column; } }

.roomDetailsPage__commentsTotal {
  font-family: "Montserrat-regular";
  font-size: 14px;
  line-height: 14px;
  color: rgba(31, 32, 65, 0.5); }

.roomDetailsPage__commentsItem:last-child {
  margin-top: 22px; }

.roomDetailsPage__rules {
  margin-right: 70px; }
  @media (max-width: 480px) {
    .roomDetailsPage__rules {
      padding-left: 15px;
      margin-bottom: 20px; } }

.roomDetailsPage__rulesTitle {
  padding-left: 21px;
  margin-right: 70px; }
  @media (max-width: 990px) {
    .roomDetailsPage__rulesTitle {
      margin-right: 0; } }

.roomDetailsPage__cancel {
  max-width: 341px; }
  @media (max-width: 480px) {
    .roomDetailsPage__cancel {
      padding: 0 35px 0 15px; } }

.roomDetailsPage__cancelText {
  font-family: "Montserrat-regular";
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75); }

@media (max-width: 1240px) {
  .roomDetailsPage__card {
    margin-top: 50px; } }

@keyframes render {
  0% {
    stroke-dasharray: 0 100; } }

.chart {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 480px) {
    .chart {
      justify-content: flex-start; } }
  .chart__doughnut {
    width: 120px;
    height: 120px; }
  .chart__circle {
    fill: none;
    stroke-width: 1.1;
    cursor: pointer;
    transition: all 0.5s; }
    .chart__circle:hover, .chart__circle_hovered {
      opacity: 0.8;
      stroke-width: 2; }
    .chart__circle:nth-child(1) {
      stroke-dasharray: 49 100;
      stroke-dashoffset: -25; }
    .chart__circle:nth-child(2) {
      stroke-dasharray: 24 100;
      stroke-dashoffset: 0; }
    .chart__circle:nth-child(3) {
      stroke-dasharray: 24 100;
      stroke-dashoffset: -75; }
    .chart__circle:nth-child(4) {
      stroke-dasharray: 0 100;
      stroke-dashoffset: 0; }
  .chart__number {
    font-family: "Montserrat-Bold";
    font-size: .45rem; }
  .chart__text {
    font-family: "Montserrat-Bold";
    font-size: .25rem; }
  .chart__legend {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 20px; }
    @media (max-width: 480px) {
      .chart__legend {
        padding-left: 5px;
        padding-top: 0; } }
  .chart__item {
    position: relative;
    font-family: "Montserrat-regular";
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    display: flex;
    align-items: center; }
    .chart__item:hover {
      opacity: 0.8; }
    .chart__item::before {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 5px;
      margin-right: 5px; }
    .chart__item:nth-child(1)::before {
      background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%); }
    .chart__item:nth-child(2)::before {
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%); }
    .chart__item:nth-child(3)::before {
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }
    .chart__item:nth-child(4)::before {
      background: linear-gradient(180deg, #919191 0%, #919191 100%); }

