body {
  height: 100%;
  margin: 0; }

.page__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%; }

.page__wrapper_grayBackground {
  background: #F4F4F6; }

.page__logo {
  padding: 30px 0 0 30px; }

.page__content {
  margin-top: 72px;
  margin-bottom: 90px; }
  .page__content_startPage {
    margin-top: 20px; }

.page__footer {
  padding: 50px 0;
  display: flex;
  justify-content: center; }

.page__container {
  flex: 1 0 auto; }

.dropdownItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat-Bold";
  font-size: 12px;
  line-height: 15px;
  color: #1F2041; }
  .dropdownItem:not(:last-child) {
    margin-bottom: 7px; }
  .dropdownItem__name {
    text-transform: uppercase; }
  .dropdownItem__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .dropdownItem__btnMinus, .dropdownItem__btnPlus {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    width: 30px;
    height: 30px;
    border-radius: 22px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    font-family: "Montserrat-regular";
    font-size: 18px;
    line-height: 22px;
    color: rgba(31, 32, 65, 0.5); }
  .dropdownItem__btnMinus::after {
    content: "-"; }
  .dropdownItem__btnPlus::after {
    content: "+"; }
  .dropdownItem__number {
    background: transparent;
    padding: 0;
    width: 32px;
    border: none;
    outline: none;
    font-family: "Montserrat-Bold";
    font-size: 12px;
    line-height: 15px;
    color: #1F2041;
    text-align: center; }
  .dropdownItem__btn_disabled {
    color: rgba(31, 32, 65, 0.1);
    border: 1px solid rgba(31, 32, 65, 0.1); }

.dropdown {
  cursor: pointer;
  position: relative; }
  .dropdown__block {
    display: flex;
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    align-items: center; }
  .dropdown__total {
    border: none;
    outline: none;
    padding: 0;
    font-family: "Montserrat-regular";
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    padding-left: 15px;
    cursor: pointer;
    user-select: none; }
  .dropdown__block::after {
    content: '\e905';
    font-family: "Material-Icons";
    color: rgba(31, 32, 65, 0.75);
    font-size: 8px;
    position: absolute;
    right: 0;
    padding-right: 16px; }
  .dropdown__block.active::after {
    content: '\e900'; }
  .dropdown__expand {
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 6px 7.5px 5px 15px;
    position: absolute;
    background: #FFFFFF;
    z-index: 3;
    width: 100%;
    box-sizing: border-box; }
    .dropdown__expand_guests {
      padding: 6px 7px 13px 15px; }
  .dropdown__block + .dropdown__expand {
    display: none; }
  .dropdown__block.active {
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-bottom: transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .dropdown__block.active + .dropdown__expand {
    display: block; }
  .dropdown__buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 20px; }

.searchRoomPage__container {
  margin: 0 auto 69px;
  display: flex;
  max-width: 1160px; }

.searchRoomPage__filter {
  min-width: 266px;
  max-width: 266px;
  margin-top: 30px;
  margin-right: 60px; }

.searchRoomPage__dropdownGuests {
  margin-top: 20px;
  margin-bottom: 30px; }

.searchRoomPage__priceRange {
  height: 72px; }

.searchRoomPage__rules {
  margin-top: 30px;
  margin-bottom: 31px; }

.searchRoomPage__dropdownBedrooms {
  margin-top: 30px;
  margin-bottom: 30px; }

.searchRoomPage__rooms {
  margin-top: 30px; }

.searchRoomPage__title {
  font-family: "Montserrat-Bold";
  font-size: 24px;
  line-height: 29px;
  color: #1F2041;
  margin-bottom: 20px; }

.searchRoomPage__listRooms {
  min-width: 834px;
  min-height: 1088px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between; }

.searchRoomPage__pagination {
  margin-top: 40px;
  display: flex;
  justify-content: center; }

