.searchRoomPage__container {
  margin: 0 auto 69px;
  display: flex;
  max-width: 1160px; }

.searchRoomPage__filter {
  min-width: 266px;
  max-width: 266px;
  margin-top: 30px;
  margin-right: 60px; }

.searchRoomPage__dropdownGuests {
  margin-top: 20px;
  margin-bottom: 30px; }

.searchRoomPage__priceRange {
  height: 72px; }

.searchRoomPage__rules {
  margin-top: 30px;
  margin-bottom: 31px; }

.searchRoomPage__dropdownBedrooms {
  margin-top: 30px;
  margin-bottom: 30px; }

.searchRoomPage__rooms {
  margin-top: 30px; }

.searchRoomPage__title {
  font-family: "Montserrat-Bold";
  font-size: 24px;
  line-height: 29px;
  color: #1F2041;
  margin-bottom: 20px; }

.searchRoomPage__listRooms {
  min-width: 834px;
  min-height: 1088px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between; }

.searchRoomPage__pagination {
  margin-top: 40px;
  display: flex;
  justify-content: center; }

