@import '../../scss/variables.scss';


.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 50px;
  font-family: $mainFontBold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  background: $primaryGradient;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px;
  
  &_modifier {
    padding: 2px;
  }
  
  &:hover {
    background: $primaryGradient_50;
  }

  &__arrow {
    padding-right: 8px;
    
    &::before {
      color: #fff;
      font-family: $materialIcons;
      content: '\e901';
    }
  }
}

.span {
  display: inline;
  
  &__default {
    padding: 9.5px 20px;
    color: #FFFFFF;
  }
  
  &__white {
    border-radius: 50px;
    background: #FFFFFF;
    padding: 7.5px 18.5px;
    color: $color--designMain;
  }
}
