mixin button(options)
  -
    let btnClass = 'button';
    btnClass += options.default ? ' button__default' : '';
    btnClass += options.isWhite ? ' button__white' : '';


  button.button
    if options.default
      span(class = btnClass)= options.btnTitle
      if options.arrow
        span.button__arrow
    else
      span(class = btnClass)= options.btnTitle
