mixin button(options)
  -
    let btnMainClass = 'button';
    btnMainClass += options.btnModifier ? ' button_modifier' : '';
    let btnSpanClass = 'span';
    btnSpanClass += options.isDefault ? ' span__default' : '';
    btnSpanClass += options.isWhite ? ' span__white' : '';


  button(class = btnMainClass)
    if options.isDefault
      span(class = btnSpanClass)= options.btnTitle
    if options.isWhite
      span(class = btnSpanClass)= options.btnTitle
    if options.arrow
      span.button__arrow
