@import '../../scss/variables.scss';


.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 50px;
  font-family: $mainFontBold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  background: $primaryGradient;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 2px;

  &__default {
    padding: 7.5px 12px 7.5px 11px;
    color: #FFFFFF;
  }
  
  &:hover .button__default {
    // opacity: 0.5;
    background: $primaryGradient_50;
  }


  &__white {
    background: #FFFFFF;
    padding: 7.5px 12px 7.5px 11px;
    color: $color--designMain;
  }
  
  &:hover:not(.button__white) {
    background: $primaryGradient_50;
  }
  

  &__arrow {
    padding-right: 8px;
    
    &::before {
      color: #fff;
      font-family: $materialIcons;
      content: '\e901';
    }
  }
}
