@import '../../scss/variables.scss';


.button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &_white {
    background: $primaryGradient;
    border-radius: 50px;
    padding: 2px;
  }
  
  &:hover {
    background: $primaryGradient_50;
    border-radius: 50px;
  }
  
  .button__insideSpan_default:hover {
    background: $primaryGradient_50;
  }
  
  &__insideSpan {
    font-family: $mainFontBold;
    color: $color--designMain;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    
    &_default {
      background: $primaryGradient;
      border-radius: 22px;
      padding: 14.5px 19px;
      color: #FFFFFF;
      
      // &:hover {
      //   background: $primaryGradient_50;
      // }
    }
        
    &_white {
      color: $color--designMain;
      border-radius: 50px;
      background: #FFFFFF;
      padding: 12.5px 17px;
      // padding: 7.5px 18.5px;
    }
  }
  
  &__arrow {
    padding-right: 8px;
    
    &::before {
      color: #fff;
      font-family: $materialIcons;
      content: '\e901';
    }
  }
}
