.likeButtonGrey__input {
  opacity: 0;
  position: absolute;
  height: 0;
  width: 0;
}
.likeButtonGrey__label {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 40px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid rgba(31, 32, 65, 0.25);
}
.likeButtonGrey__label:before {
  font-family: 'Material-Icons';
  content: "\e903";
  color: rgba(31, 32, 65, 0.25);
  font-size: 10px;
  position: absolute;
  margin-top: 4px;
  margin-left: 5px;
  user-select: none;
}
.likeButtonGrey__counter {
  position: absolute;
  margin-top: 3px;
  margin-left: 22px;
  font-family: "Montserrat-regular";
  font-size: 10px;
  user-select: none;
  color: rgba(31, 32, 65, 0.25);;
}
