@import '../../scss/variables.scss';

.formElements {
  margin-left: 80px;
  display: grid;
  grid-template-areas:
    "textFields checkboxes buttons"
    "textFields feedback feedback";
  grid-template-columns: 1fr 1fr 1fr;

  &__textFields {
    grid-area: textFields;
    width: 320px;
  }

  &__textFieldHover {
    margin: 21px 0 20px 0;
  }

  &__maskedTextField {
    margin: 21px 0 40px 0;
  }

  &__dateDropdowns {
    display: flex;
    justify-content: space-between;
  }

  &__dateDropdownDefault,
  &__dateDropdown {
    width: 150px;
  }

  &__filterDateDropdown,
  &__subscriptionTextField {
    width: 266px;
  }

  &__filterDateDropdown {
    margin: 41px 0 41px 0;
  }

  &__subscriptionTextField {
    margin-bottom: 102px;
  }

  &__dropdownBedroomDefault {
    margin-bottom: 20px;
    max-width: 266px;
  }
  
  &__dropdownBedroomExpanded {
    margin-bottom: 56px;
    max-width: 266px;
  }
  
  &__checkboxExpandableFirst {
    margin-top: 180px;
    margin-bottom: 50px;
    max-width: 266px;
  }

  &__checkboxExpandableSecond {
    margin-bottom: 50px;
    max-width: 266px;
  }

  &__roomFeatures {
    width: 280px;
    margin-top: 100px;
  }

  &__checkboxRadioButtons {
    grid-area: checkboxes;
    margin-left: 126px;
    margin-right: 72px;
  }

  &__checkbox {
    margin-bottom: 41px;
  }

  &__radioButtons {
    margin-bottom: 40px;

    &-wrapper {
      display: flex;
      width: 220px;
      justify-content: space-between;
      margin-top: 13px;
    }
  }

  &__toggle {
    margin-bottom: 43.5px;
  
    &-wrapper {
      margin-top: 13px;
      height: 58px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__like {
    margin-bottom: 40.5px;
    
    &-wrapper {
      display: flex;
      justify-content: space-between;
      margin-right: 170px;
      margin-top: 15px;
      width: 90px;
    }
  }

  &__rate {
    margin-bottom: 187px;
    width: 262px;
    
    &-wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 17px;
      padding-left: 2px;
    }
  }
  
  &__dropdownGuestsDefault {
    width: 320px;
    margin-bottom: 266px;
  }
  
  &__checkboxRich {
    margin-bottom: 50px;
  }
  
  &__sliderButtons {
    grid-area: buttons;
    width: 320px;
    margin-right: 50px;
  }

  &__rangeSlider {
    width: 266px;
    margin-bottom: 31px;
    margin-top: 1px;
  }

  &__rangeSliderHeading {
    margin-bottom: 22px;
  }

  &__buttons {
    margin-bottom: 45px;

    &-wrapper {
      display: flex;
      flex-direction: column;
      margin-top: 15px;
    }

    &-container {
      display: flex;
      gap: 20px;
      width: 218px;
      height: 40px;
      margin-bottom: 34px;
    }
    
    &-links {
      display: flex;
      justify-content: space-between;
      width: 142px;
      margin-top: 1px;
      margin-bottom: 30px;
    }

    &-large {
      width: 316px;
      height: 40px;
    }
  }

  &__pagination {
    width: 350px;
    margin-bottom: 224px;
  }

  &__paginationWrap {
    margin-top: 16px;
  }

  &__dropdownGuests {
    margin-bottom: 267px;
  }
  
  &__bulletList {
    margin-bottom: 30px;
  }
  
  &__feedback {
    grid-area: feedback;
    margin-left: 126px;
    margin-top: 127px;
  }

  &__comment {
    width: 711px;
  }
}
