.icons
  img.icons_size-twitter.icons_padding-right(src="./img/icons_twitter.png")
  img.icons_size-facebook(src="./img/icons_facebook.png")
  img.icons_size-instagram.icons_padding-left(src="./img/icons_instagram.png")
