.icons {
  display: flex;
}
.icons_size-twitter {
  height: 20px;
  width: 24px;
}
.icons_size-facebook {
  height: 21px;
  width: 21px;
}
.icons_size-instagram {
  height: 21px;
  width: 21px;
}
.icons_padding-right {
  padding-right: 22px;
}
.icons_padding-left {
  padding-left: 23px;
}
