.dropdown__label {
  font-family: "Montserrat-Bold";
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  margin-bottom: 5px;
}
select {
  appearance: none;
  background-color: transparent;
  border: none;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  padding-left: 15px;
}
.dropdown__select {
  display: flex;
  height: 44px;
  box-sizing: border-box;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  padding: 0px;
  width: 100%;
  background-color: #FFFFFF;
  justify-content: flex-end;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-family: "Montserrat-regular";
  color: rgba(31, 32, 65, 0.75);
  font-size: 14px;
  &:hover,
  &:focus-within {
    border: 1px solid rgba(31, 32, 65, 0.5);
  };
}
.dropdown__select::after {
  font-family: 'Material-Icons';
  color: rgba(31, 32, 65, 0.75);
  content: "\e902";
  font-size: 12px;
  margin-right: 12px;
  position: absolute;
}

.dropdown__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.dropdown__item {
  height: 44px;
}
option {
  width: 100%;
}
.dropdown__bedRooms {
  margin-left: 20px;
}
select > option {
  height: 44px;
}

// .dropdown__default {
//   font-family: "Montserrat-regular";
//   font-size: 12px;
//   line-height: 15px;
//   text-transform: uppercase;
//   color: rgba(31, 32, 65, 0.5);
//   padding-right: 1px;
//   margin-left: auto;
// }
