@import '../../../scss/_variables';

.dropdown__label {
  @include font-montserrat-bold;
  margin-bottom: 5px;
}

.dropdown__default {
  @include block-default;
  border-radius: 4px 4px 0 0;
  @include font-montserrat-regular;
}

.dropdown__default_border-dark {
   border: $border__dark;
}

.dropdown__expand {
  @include block-expand;
  @include font-montserrat-bold;
}

.dropdown__expand_visible {
  display: block;
  border-top: transparent;
}

.dropdown__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5.56px;
}

.dropdown__item-title-one,
.dropdown__item-title-two {
  margin-left: 15px;
}

.dropdown__btns {
  display: flex;
  margin-right: 7px;
}

.dropdown__btn-minus,
.dropdown__btn-plus {
  @include dropdown-btn;
}

.dropdown__btn-minus::before {
  content: '-';
  margin-top: -2px;
}

.dropdown__numberFirst,
.dropdown__numberSecond {
  width: 32px;
  text-align: center;
  line-height: 30px;
  user-select: none;
}

.dropdown__btn-plus::before {
  content: '+';
}

.dropdown__disabled {
  cursor: auto;
}
