mixin dropdown(options)
  -
    let idDropdown = options.idDropdown
        
  //- .dropdown
  //-   .dropdown__title= options.title
  //-   input(type='checkbox' value="2 спальни, 2 кровати..."  name='number_of_beds').dropdown__btn
  //-   .dropdown__select
  //-     li.dropdown__items 
  //-       ul.dropdown__item 1
  //-       ul.dropdown__item 2
  //-       ul.dropdown__item 3

  .dropdown
    label(for=idDropdown).dropdown__label= options.label
    .dropdown__select
      select(id=idDropdown)
        .dropdown__item
          option(disabled selected) 2 спальни, 2 кровати...
        option(value="1").dropdown__item
          .dropdown__bedRooms спальни
          .dropdown__minis -
          .dropdown__quantity 2
          .dropdown__plus +
        option(value="2").dropdown__item 2
        option(value="3").dropdown__item 3



      //- li.dropdown__items 
      //-   ul.dropdown__item 1
      //-   ul.dropdown__item 2
      //-   ul.dropdown__item 3
