mixin dropdown(options)
  -
    let idDropdown = options.idDropdown

  .dropdown
    .dropdown__label= options.label
    .dropdown__block
    .dropdown__expand
      .dropdown__item
        .dropdown__numberOfBedrooms спальни
        button.dropdown__minus
        .dropdown__number
        button.dropdown__plus

  script.
    let minus = document.querySelector('.dropdown__minus');
    let numberBeds = document.querySelector('.dropdown__number');
    let nB = numberBeds.textContent;
    nB = 0
    minus.addEventListener("click", () => (numberBeds--))
