.checkboxButtons__nameBlock Checkbox buttons
mixin checkboxButtons(options)
  label.checkboxButtons__labelStyle
    input(type="checkbox").checkboxButtons__inputStyle
    .checkboxButtons__customCheckbox= options.nameOption
  






  