.checkboxButtons 
  .checkboxButtons__nameBlock Checkbox buttons
  label.checkboxButtons__container Можно курить
    input(type="checkbox")
  label.checkboxButtons__container Можно с питомцами
    input(type="checkbox")
  label.checkboxButtons__container Можно пригласить гостей (до 10 человек)
    input(type="checkbox")
