.radioButtons__nameBlock Radio buttons
mixin radioButtons(options)
  label.radioButtons__labelStyle
    input(type="radio" name="manOrWoman" value="man" checked).radioButtons__inputStyle
    .radioButtons__customRadio.radioButtons__customRadioMan= options.nameOptionOne
  label.radioButtons__labelStyle
    input(type="radio" name="manOrWoman" value="woman").radioButtons__inputStyle
    .radioButtons__customRadio= options.nameOptionTwo
