@import '../../scss/variables';

.dropdownItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $mainFontBold;
  font-size: 12px;
  line-height: 15px;
  color: $color--main;
  margin-top: 7px;

  &__name {
    text-transform: uppercase;
    margin-left: 15px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 92px;
    margin-right: 7px;
  }

  &__btnMinus,
  &__btnPlus {
    background: transparent;
    width: 30px;
    height: 30px;
    border-radius: 22px;
    border: 1px solid $color--darkShade25;
    font-family: $mainFont;
    font-size: 18px;
    line-height: 22px;
    color: $color--darkShade50;
  }

  &__btn_disabled {
    color: $color--darkShade1;
    border: 1px solid $color--darkShade1;
  }
}
