mixin dropdownItem({ title="", count="" })
 
  .dropdownItem 
    .dropdownItem__name #{title}
    .dropdownItem__buttons
      button&attributes({
        class: "dropdownItem__btnMinus",
        type: "button"
      })
      input&attributes({
        class: "dropdownItem__number", 
        type: "text", 
        readonly: "readonly",
        value: count
      })
      button&attributes({
        class: "dropdownItem__btnPlus",
        type: "button"
      })
