mixin types( typeSamples=[] )
  ul.types
    each typeSample in typeSamples
      -const typeClass = 'types__' + typeSample.typeTitle;
      li&attributes({
          class: ["types__wrap", typeClass]
        })
        .types__title #{typeSample.typeTitle}
        .types__textExample #{typeSample.typeExample}
