@import '../scss/variables.scss';

.setColorsType {
  position: absolute;
  width: 1440px;
  height: 900px;
  top: 50px;
  left: 50px;
  background: #FFFFFF;
}
.setColorsType__blockName {
  position: absolute;
  top: -21px;
  font-family: $mainFont;
  font-size: 15px;
  color: $color--darkShade25;
}
.setColorsType__commonLogoCircle {
  position: absolute;
  left: 30px;
  top: 30px;
}

.setColorsType__colors {
  position: absolute;
  margin-top: 145px;
  margin-left: 150px;
}

.setColorsType__types {
  position: absolute;
  margin-top: 145px;
  margin-left: 846px;
  width: 444px;
}
