include ./colors/colors
include ./types/types


.setColorsType
  .setColorsType__blockName Colors & Type
  .setColorsType__commonLogoCircle
    include ../headersFooters/commonBlocks/commonLogoCircle/commonLogoCircle
  
  - let colorArr = ['darkShade100', 'darkShade75', 'darkShade50', 'darkShade25', 'darkShade5', 'purple', 'green'];
    
  - let colorTitles = ['Dark Shade 100%', 'Dark Shade 75%', 'Dark Shade 50%', 'Dark Shade 25%', 'Dark Shade 5%', 'Purple', 'Green'];

  - let colorCode = ['#1F2041', '#BC9CFF', '#6FCF97'];
  
  //- .setColorsType__colors
    +colors([
      {color: colorArr[0], colorTitle: colorTitles[0], colorCode: colorCode[0]},
      {color: colorArr[1], colorTitle: colorTitles[1], colorCode: colorCode[0]},
      {color: colorArr[2], colorTitle: colorTitles[2], colorCode: colorCode[0]},
      {color: colorArr[3], colorTitle: colorTitles[3], colorCode: colorCode[0]},
      {color: colorArr[4], colorTitle: colorTitles[4], colorCode: colorCode[0]},
      {color: colorArr[5], colorTitle: colorTitles[5], colorCode: colorCode[1]},
      {color: colorArr[6], colorTitle: colorTitles[6], colorCode: colorCode[2]}
    ])
    

  - let typeTitles = ['h1', 'h2', 'h3', 'body'];

  - let typeExamples = ['This one is the sub-section or widget title', 'Next one is the item title inside widgets', 'This is a label or CTA text', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.'];

  .setColorsType__types
    +types([
      {typeTitle: typeTitles[0], typeExample: typeExamples[0]},
      {typeTitle: typeTitles[1], typeExample: typeExamples[1]},
      {typeTitle: typeTitles[2], typeExample: typeExamples[2]},
      {typeTitle: typeTitles[3], typeExample: typeExamples[3]}
    ])
