mixin like({ value="0", isGradient=false, isColored=false })
  -
    const buttonColored = isColored ? "like_colored" : "";
    const iconGradient = isGradient ? "like_gradient" : "";

  button&attributes({
    class: [ "like", buttonColored, iconGradient ]
    }) #{value}
