@import '../../scss/variables.scss';

.rate {
  display: flex;
  align-items: center;
  user-select: none;
  flex-direction: row-reverse;

  &__input {
    display: none;
  }

  &__star::before {
    content: '\e90c';
    font-family: $materialIcons;
    font-size: 24px;
    line-height: 20px;
    background: $primaryGradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }

  &__star:hover::before,
  &__star:hover ~ .rate__star::before,
  &__input:checked ~ .rate__star:before,
  &__star_checked::before {
	  content: "\e90b";
  }
}
