.textField__form {
  display: block;
}
.textField__label {
  font-family: "Montserrat-Bold";
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: #1F2041;
  margin-bottom: 5px;
  display: inline-block;
}
.textField__default {
  font-family: "Montserrat-regular";
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
  float: right;
}
.textField__input {
  height: 44px;
  width: 320px;
  box-sizing: border-box;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  display: flex;
  &:hover {
    border: 1px solid rgba(31, 32, 65, 0.5);
  };
}
.textField__input_focused {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.textField__email {
  border: 0px;
  padding: 0;
  padding-left: 15px;
  border-radius: 4px;
  outline: none;
  width: 320px;
}


.textField__submit {
  width: 44px;
  border: 0px; 
  background: url(img/textField_arrow.png) no-repeat;
  background-size: 20px 20px;
  background-position: center center;
  padding: 0px;
  margin-left: auto;
  border-radius: 4px;
  outline: none;
}

// .textField__lower-block_border-dark {
  //   border: 1px solid rgba(31, 32, 65, 0.5);
// }

// .textField__lower-block_color-dark {
  //   color: rgba(31, 32, 65, 0.75);
  // }

  
  // .textField__lower-block_expand-more {
    //   width: 12px;
//   height: 7px;
//   margin: auto;
// }

// .textField__lower-block_arrow {
  //   width: 44px;
  //   height: 44px;
  //   line-height: 24px;
  //   margin-left: auto;
  // }
  
  input[type='email'] {
    font-family: "Montserrat-regular";
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
  } 
