mixin textField(options)
  -
    let textFieldInput = 'textField__input';
    textFieldInput += options.borderDark ? ' textField__input_border-dark' : '';
    textFieldLowerBlock += options.colorDark ? ' textField__lower-block_color-dark' : ''

    let typeInput = options.typeInput;
    let placeholderInput = options.placeholderInput;

  form
    label(for="textField").textField__label= options.label
    div(class = textFieldInput)
      input(id='textField' type=typeInput, placeholder=placeholderInput).textField__email
      if (options.button)
        button(type="submit").textField__submit
