mixin textField(options)
  -
    var textFieldLowerBlock = 'textField__lower-block'
    textFieldLowerBlock += options.borderDark ? ' textField__lower-block_border-dark' : ''
    textFieldLowerBlock += options.colorDark ? ' textField__lower-block_color-dark' : ''
    
  

  //- form.textField__form
  //-   label(for="email")
  //-     .textField__label= options.label
  //-     .textField__default= options.default
  //-   .textField__input
  //-     input.textField__email(id='email' type="email", placeholder="Email")
  //-     if (options.button)
  //-       button(type="submit").textField__submit

  form
    label(for="email")
      .textField__label= options.label
      .textField__default= options.default
    .textField__input
      input(id='email' type="email", placeholder="Email").textField__email
      //- button(type="submit")

 
