include ../textField/textField
include ../heading/heading
include ../button/button
include ../dateDropdown/dateDropdown
include ../dropdown/dropdown
include ../roomNumber/roomNumber
include ../roomPrice/roomPrice
include ../roomPriceDetails/roomPriceDetails

mixin cardSearchRoom({ cardTitle="", cardType="" })
  if ( cardType == "totalPrice" )
    
    form(action="").cardSearchRoom
      .cardSearchRoom__wrapper
        .cardSearchRoom__room
          +roomNumber({ symbol: "№", number: "888", isLux: "люкс", isBigSize: true })
        .cardSearchRoom__priceRoom
          +roomPrice({ price: "9 990", currency: "₽", perDay: "в сутки" })
      
      .cardSearchRoom__dates
        .cardSearchRoom__arrival
          +heading({ title: "прибытие" })
          +dateDropdown({ dropdownDateId: 'dropdownDateSelectStart', isUppercase: true, placeholder: "ДД.ММ.ГГГГ"})
        .cardSearchRoom__departure
          +heading({ title: "выезд" })
          +dateDropdown({ dropdownDateId: 'dropdownDateSelectEnd', isUppercase: true, placeholder: "ДД.ММ.ГГГГ"})

      .cardSearchRoom____dropdownGuests
        +heading({ title: "гости" })
        +dropdown({ dropdownId: "guests",
          options: [
            { title: "взрослые", count: 2 }, 
            { title: "дети", count: 1 }, 
            { title: "младенцы", count: 0 }
          ]
        })

      .cardSearchRoom__details
        +roomPriceDetails({})
      
      .cardSearchRoom__buttonPay
        +button({ button: true, btnTitle: 'забронировать', withArrow: true })
    
  else
    form(action="").cardSearchRoom
      .cardSearchRoom__container
        .cardSearchRoom__wrapper
          .cardSearchRoom__title #{cardTitle}

        .cardSearchRoom__dates
          .cardSearchRoom__arrival
            +heading({ title: "прибытие" })
            +dateDropdown({ dropdownDateId: 'dropdownDateStart', isUppercase: true, placeholder: "ДД.ММ.ГГГГ"})
          .cardSearchRoom__departure
            +heading({ title: "выезд" })
            +dateDropdown({ dropdownDateId: 'dropdownDateEnd', isUppercase: true, placeholder: "ДД.ММ.ГГГГ"})

        .cardSearchRoom____dropdownGuests
          +heading({ title: "гости" })
          +dropdown({ dropdownId: "guests",
            options: [
              { title: "взрослые", count: 0 }, 
              { title: "дети", count: 0 }, 
              { title: "младенцы", count: 0 }
            ]
          })

        .cardSearchRoom__buttonPay.cardSearchRoom__buttonPay_marginTop
          +button({ button: true, btnTitle: 'подобрать номер', withArrow: true, href: "./searchRoomPage.html" })



 





    
    
