include ../like/like

mixin comment({ avatarName="", guestName="", date="", text="" })
  .comment
    .comment__header
      img.comment__avatar(src=`./images/avatars/${avatarName}.png` alt="avatar")
      .comment__guest
        .comment__guestName #{guestName}
        .comment__date #{date}
    .comment__body
      .comment__likeButton
        +like({ value: "12", isGradient: true, isColored: true })
      .comment__text #{text}
