@import '../../scss/variables.scss';

.comment {
  display: flex;
  flex-direction: column;
  font-family: $mainFont;
  font-size: $mainFont--size;
  line-height: 24px;
  color: $color--darkShade75;
  user-select: none;

  &__heading,
  &__body {
    display: flex;
  }

  &__avatar {
    width: 47.5px;
    height: 48px;
    border: 2px solid #FFFFFF;
    border-radius: 32px;
    box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.1);
    box-sizing: border-box;
  }

  &__guest {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }
  
  &__guestName {
    font-family: $mainFontBold;
    padding-top: 1px;
  }

  &__likeButton {
    padding: 12px 0 0 3.5px;
  }

  &__text {
    padding: 10px 0 0 14px;
    
    @media (max-width: 480px) {
      padding: 10px 12px 0 14px;
    }
  }
}
