@import '../../scss/variables.scss';


.types {
  list-style: none;
  margin: 0;
  padding: 0;

  &__h1 {
    font-size: 24px;
    line-height: 29px;
  }
  
  &__h2 {
    font-size: 19px;
    line-height: 23px;
  }
  
  &__h3 {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }
  
  &__body {
    font-size: 14px;
    line-height: 24px;
    font-family: $mainFont;
  }
  
  &__wrap {
    margin-bottom: 51px;
    display: flex;
  }
  
  &__title {
    color: $color--darkShade25;
    font-family: $mainFont;
    width: 37px;
    text-align: right;
    text-transform: capitalize;

  }
  &__textExample {
    margin-left: 30px;
    font-family: $mainFontBold;
    width: 369px;
  }
}










.setColorsType__blockFontSize {
  height: 60;
  margin-bottom: 50px;
  display: flex;
  align-items: flex-start;
}
.setColorsType__font-H1 {
  width: 29px;
  height: 30px;
  font-family: "Montserrat-regular";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: rgba(31, 32, 65, 0.25);
  margin-right: 30px;
  margin-left: 8px;
}
.setColorsType__size-H1 {
  height: 60px;
  font-family: "Quicksand-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041;
}
.setColorsType__font-H2 {
  width: 27px;
  height: 24px;
  font-family: "Montserrat-regular";
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 23px;
  text-align: right;
  color: rgba(31, 32, 65, 0.25);
  margin-right: 30px;
  margin-left: 10px;
}
.setColorsType__size-H2 {
  height: 48px;
  font-family: "Quicksand-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1F2041;
}
.setColorsType__font-H3 {
  width: 17px;
  height: 15px;
  font-family: "Montserrat-regular";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.25);
  margin-right: 30px;
  margin-left: 19px;
}
.setColorsType__size-H3 {
  height: 15px;
  font-family: "Montserrat-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}
.setColorsType__font-Body {
  width: 37px;
  height: 24px;
  font-family: "Montserrat-regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: rgba(31, 32, 65, 0.25);
  margin-right: 30px;
}
.setColorsType__size-Body {
  height: 48px;
  font-family: "Montserrat-regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
.setColorsType__blockFontSize_margin-bottom {
  margin-bottom: 47px;
}
.setColorsType__blockFontSize_width {
  width: 380px;
}
