.footerTwo
  .footerTwo__logoCircle
    include ../commonBlocks/logoCircle/logoCircle
  .footerTwo__logoTitle
    include ../commonBlocks/logoTitle/logoTitle
  .footerTwo__text
    .footerTwo__text_position Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
  .footerTwo__icons
    include ../commonBlocks/icons/icons
