mixin likeButtonColor
  script.
    function count() {
      let counter = document.querySelector(".likeButtonColor__counter");
      counter.innerHTML++;
    }
  label.likeButtonColor__label
    input(type="checkbox" onclick="count()").likeButtonColor__input
    .likeButtonColor__counter= 0
