@import '../../scss/variables.scss';

.iconLink {
  font-family: $mainFontBold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $color--designMain;
  background: transparent;
  &:hover {
    // opacity: 1;
    color: $color--darkShade50;
  };
}
