@import '../../scss/variables.scss';

.iconLink {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px;
  background: transparent;

  font-family: $mainFontBold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $color--designMain;

  &_hover {
    color: $color--darkShade50;
  }

  &:hover {
    color: $color--darkShade50;
  };
}
