.button__link {
  font-family: "Montserrat-bold";
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #BC9CFF;
  margin-right: 20px;
  z-index: 1;
  &:hover {
    color: rgba(31, 32, 65, 0.5);
  }
}
.button__linkHover {
  color: rgba(31, 32, 65, 0.5);
}
.button__colored {
  width: 99px;
  height: 44px;
  border-radius: 22px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  box-sizing: border-box;
  margin-bottom: 30px;
  display: flex;
  & > .button__link {
    margin: auto;
    color: #FFFFFF;
  }
}




// .buttons__button::after {
//   content: '';
//   width: 95px;
//   height: 40px;
//   border-radius: 20px;
//   background: #FFFFFF;
//   display: block;
//   position: absolute;
//   margin-top: 2px;
//   margin-left: 2px;
// }

// .buttons__style:hover {
//   opacity: 0.5;
// }

// .buttons__hoverLink {
//   color: rgba(31, 32, 65, 0.5);
// }


// .button__titleColorWhite {
//   color: #FFFFFF;
// }
