mixin heading ({ title="", state="", expandable=false, isExpanded=false })
  -
    const expandMore = expandable ? "heading_expand-more" : "";

    const headingExpanded = isExpanded ? "active" : "";

  .heading&attributes({
    class: [expandMore, headingExpanded] })
    h3&attributes({
      class: "heading__title" }) #{title}
    if (state)
      span.heading__state #{state}
