@import '../../scss/variables.scss';

.heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  cursor: pointer;

  &__title {
    font-family: $mainFontBold;
    color: $color--main;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    margin: 0px;
    display: flex;
    user-select: none;
  }
  
  &_expand-more::after {
    content: '\e905';
    font-family: $materialIcons;
    color: $color--darkShade50;
    font-size: 8px;
    cursor: pointer;
    padding-right: 16px;
    margin-top: 3px;
  }
  
  &_expand-more.active::after {
    content: '\e900';
  }
  
  &_expand-more + .checkboxList {
    display: none;
  }

  &_expand-more.active + .checkboxList {
    display: block;
  }

  &__state {
    font-family: $mainFont;
    color: $color--darkShade50;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }
}
