mixin heading ({ title="", state="", isExpanded=false })
  -
    const expandMore = isExpanded ? "heading_expand-more" : ""

  .heading(class=expandMore)
    h3&attributes({
      class: "heading__title" }) #{title}
    if (state)
      span.heading__state #{state}
