mixin roomPriceDetails({})
  .roomPriceDetails
    .roomPriceDetails__priceForPeriod
      span.roomPriceDetails__priceDetails 9 990₽ х 4 суток
      span.roomPriceDetails__priceTotal 39 960₽

    .roomPriceDetails__serviceFee
      .roomPriceDetails__feeWrapper
        .roomPriceDetails__feeDetails Сбор за услуги: скидка 2 179₽
        .roomPriceDetails__feeInform i
      span.roomPriceDetails__feePrice 0₽

    .roomPriceDetails__addServiceFee
      .roomPriceDetails__addFeeWrapper
        span.roomPriceDetails__addFeeDetails Сбор за дополнительные услуги
        .roomPriceDetails__addFeeInform i
      span.roomPriceDetails__addFeePrice 300₽

    .roomPriceDetails__feeTotal
      span.roomPriceDetails__totalTitle Итого
      .roomPriceDetails__totalLine
      span.roomPriceDetails__totalPrice 38 081₽
