.checkboxButtons__nameBlock Checkbox buttons
mixin checkboxButtons(options)
  input(type="checkbox" id="checkBut").checkboxButtons__inputStyle
  label(for="checkBut").checkboxButtons__labelStyle Можно курить
  input(type="checkbox" id="checkBut1" checked).checkboxButtons__inputStyle
  label(for="checkBut1").checkboxButtons__labelStyle Можно с питомцами
  input(type="checkbox" id="checkBut2" checked).checkboxButtons__inputStyle
  label(for="checkBut2").checkboxButtons__labelStyle Можно пригласить гостей (до 10 человек)
