@import '../../scss/variables.scss';

.bulletList {
  margin: 0;
  padding: 0;
  margin-top: 13px;
  max-width: 266px;
  user-select: none;

  &__item {
    font-family: $mainFont;
    font-size: $mainFont--size;
    line-height: 24px;
    color: $color--darkShade75;
    margin-bottom: 10px;
    display: flex;
    align-items: baseline;
  }

  &__item::before {
    min-width: 10px;
    min-height: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background: $color--darkShade25;
    content: "";
  }
}
