include ../textField/textField

mixin dateDropdown({})
  .dateDropdown
    +textField({  type: "text", isUppercase: true, placeholder: "ДД.ММ.ГГГГ", inputmode: numeric })
    //- .dateDropdown__expand
