include ../textField/textField

mixin dateDropdown({ dropdownDateId="", isUppercase="", placeholder="" })
  .dateDropdown
    +textField({ type: "text", isUppercase: isUppercase, placeholder: placeholder, inputmode: numeric, dropdownDateId: dropdownDateId })
