.likeButton__nameBlock {
  font-family: "Montserrat-bold";
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  margin-bottom: 16px;
  user-select: none;
}
.likeButton__inputStyle {
  opacity: 0;
  position: absolute;
  height: 0;
  width: 0;
}
.likeButton__imgLocation {
  width: 9px;
  height: 8px;
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
  user-select: none;
}
.likeButton__labelStyle {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 40px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid rgba(31, 32, 65, 0.25);
}
.likeButton__labelStyle__blue {
  border: 1px solid #BC9CFF;
  float: right;
}
.likeButton__counter {
  position: absolute;
  width: 6px;
  height: 13px;
  margin-top: 3px;
  margin-left: 22px;
  font-family: "Montserrat-regular";
  font-size: 10px;
  line-height: 12px;
  user-select: none;
  color: rgba(31, 32, 65, 0.25);;
}
.likeButton__counter__blue {
  position: absolute;
  width: 6px;
  height: 13px;
  margin-top: 3px;
  margin-left: 22px;
  font-family: "Montserrat-regular";
  font-size: 10px;
  line-height: 12px;
  user-select: none;
  color: #BC9CFF;
}
