.header
  .header__logo
    include ../logo/logo
    +logo('colorWithText')
  .header__wrapper
    include ../nav/nav
    .header__nav
      - let navList = ['О нас', 'Услуги', 'Вакансии', 'Новости', 'Соглашения'];
      - let servicesList = ['Работа или отдых', 'Развлечения', 'Условия отмены'];
      - let agreementsList = ['Общие положения', 'Правила и условия', 'Разрешение споров'];
      +navigation([
        {name: navList[0]}, 
        {name: navList[1],
         dropdown: true}, 
        {name: navList[2]}, 
        {name: navList[3]}, 
        {name: navList[4],
         dropdown: true} 
        ])
    .header__btns
      .header__buttonLogin
        include ../button/button
        +button({btnModifier: true, isWhite: true, btnTitle: 'войти'})
      .header__buttonRegister
        include ../button/button
        +button({isDefault: true, btnTitle: 'зарегистрироваться'})
