.rateButton__nameBlock {
  font-family: "Montserrat-bold";
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  margin-bottom: 16px;
  user-select: none;
}
.rateButton__wrapper {
  // width: 120px;
  // height: 24px;
  display: inline-block;
  margin-right: 20px;
}
.rateButton__inputStyle {
  display: none;
  margin: 0;
}

.rateButton__labelStyle {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:20px;
  margin-right: 5px;
  
}
  
.rateButton__labelStyle:before {
  content: "\e907";
  color: #BC9CFF;
  // color: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  font-family: 'Material-Icons';
  font-size: 20.4px;
  cursor: pointer;
}

.rateButton__inputStyle:checked ~ 
.rateButton__labelStyle:before {
    content: "\73";
}

.rateButton__labelStyle:hover:before, .rateButton__labelStyle:hover ~ .rateButton__labelStyle:before {
  content: "\73";
}

.rateButton__inputStyle:checked ~ 
.rateButton__labelStyle:hover:before,
.rateButton__inputStyle:checked ~ 
.rateButton__labelStyle:hover ~
.rateButton__labelStyle:before 
{
    content: "\e907";
}

// needs to be completed hover and checked
