.rateButton__nameBlock Rate button

mixin rateButton
  .rateButton__wrapper
    input(type="radio" name="stars" value="5" id="5stars").rateButton__inputStyle
    label(for="5stars").rateButton__labelStyle 5 Stars
    input(type="radio" name="stars" value="4" id="4stars" checked).rateButton__inputStyle
    label(for="4stars").rateButton__labelStyle 4 Stars
    input(type="radio" name="stars" value="3" id="3stars").rateButton__inputStyle
    label(for="3stars").rateButton__labelStyle 3 Stars
    input(type="radio" name="stars" value="2" id="2stars").rateButton__inputStyle
    label(for="2stars").rateButton__labelStyle 2 Stars
    input(type="radio" name="stars" value="1" id="1star").rateButton__inputStyle
    label(for="1star").rateButton__labelStyle 1 Star
  .rateButton__wrapper
    input(type="radio" name="starsTwo" value="5" id="5starsTwo" checked).rateButton__inputStyle
    label(for="5starsTwo").rateButton__labelStyle 5 Stars
    input(type="radio" name="starsTwo" value="4" id="4starsTwo").rateButton__inputStyle
    label(for="4starsTwo").rateButton__labelStyle 4 Stars
    input(type="radio" name="starsTwo" value="3" id="3starsTwo").rateButton__inputStyle
    label(for="3starsTwo").rateButton__labelStyle 3 Stars
    input(type="radio" name="starsTwo" value="2" id="2starsTwo").rateButton__inputStyle
    label(for="2starsTwo").rateButton__labelStyle 2 Stars
    input(type="radio" name="starsTwo" value="1" id="1starTwo").rateButton__inputStyle
    label(for="1starTwo").rateButton__labelStyle 1 Star
