.richCheckboxButtons__nameBlock Rich checkbox buttons
mixin richCheckboxButtons
  input(type="checkbox" id="richCheckButOne").richCheckboxButtons__input
  label(for="richCheckButOne").richCheckboxButtons__label Широкий коридор 
    .richCheckboxButtons__labelDescription.richCheckboxButtons__labelDescriptionSize Ширина коридоров в номере не менее 91 см.
  input(type="checkbox" id="richCheckButTwo").richCheckboxButtons__input
  label(for="richCheckButTwo").richCheckboxButtons__label Помощник для инвалидов 
    .richCheckboxButtons__labelDescription На 1 этаже вас встретит специалист и проводит до номера.
