@import '../../scss/variables.scss';

.checkbox {

  &__label {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
  }

  &__input {
    display: none;
    
    &:checked + .checkbox__box::after {
      margin-top: 4px;
      width: 6px;
      height: 8px;
      border-style: solid;
      border-width: 0 2px 2px 0;
      box-sizing: border-box;
      border-image: $primaryGradient;
      -webkit-border-image: $primaryGradient;
      -moz-border-image: $primaryGradient;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      border-image-slice: 1;
      content: '';
    }

    &:checked + .checkbox__box {
      border: 1px solid $color--designMain;
    }
  }

  &__box {
    min-width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid $color--darkShade25;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: center;
  }
  
  &__title {
    font-family: $mainFont;
    font-size: $mainFont--size;
    line-height: 18px;
    color: $color--darkShade50;
    margin-left: 10px;
    padding-top: 1.5px;
    user-select: none;
    
    &_fontBold {
      font-family: $mainFontBold;
      color: $color--darkShade75;
    }
  }
  
  &__description {
    display: block;
    font-family: $mainFont;
    font-size: 12px;
    line-height: 14px;
    color: $color--darkShade50;
    margin: 6px 0 0 30px;
    user-select: none;
  }
}
