mixin checkbox({ title="", description="", checked=false, isRich=false } = {})
  -
    const titleFontBold = isRich ? "checkbox__title_fontBold" : "";
  
  .checkbox
    label.checkbox__label
      input&attributes({
        class: "checkbox__input",
        type: "checkbox",
        checked: checked,
      })
      span.checkbox__box
      span&attributes({
        class: ["checkbox__title", titleFontBold]}) #{title}
    if (isRich)
      span.checkbox__description #{description}
