mixin checkbox({ checked=false })


  label.checkbox__label
    input&attributes({
      class: "checkbox__input",
      type: "checkbox",
      checked: checked,
    })
    span.checkbox__box
    span.checkbox__title optionsList



//- const optionsList = ["Можно курить", "Можно с питомцами", "Можно пригласить гостей (до 10 человек)"];


