.commonLogoCircle {
  width: 48px;
  height: 48px;
  display: flex;
  background: inherit;
}
.commonLogoCircle__circle {
 width: 48px;
 height: 48px;
//  opacity: 0;
}
.commonLogoCircle__vector1 {
  position: absolute;
  width: 14.12px;
  height: 14.12px;
  margin: 18.35px 22.59px 15.53px 11.29px;
}
.commonLogoCircle__vector2 {
  position: absolute;
  width: 10.94px;
  height: 7.09px;
  margin: 18.35px 11.29px 22.55px 25.77px;
}
