.commonLogoCircle
  img.commonLogoCircle__circle(src="./img/commomLogoCircle__circle.png")
  img.commonLogoCircle__vector1(src="./img/commonLogoCircle__vector1.png")
  img.commonLogoCircle__vector2(src="./img/commonLogoCircle__vector2.png")
