.headersFooters {
  &__logo {
    margin: 30px 0 62px 30px;
  }

  &__headerLogin {
    margin-bottom: 40px;
  }

  &__footer {
    margin: 40px 0px 40px;
  }

  &__footerMobile {
    margin: 0 auto 140px;
  }
}
