include ../logo/logo
include ../nav/nav
include ../socialIcons/socialIcons


mixin footer ({footerPromo=''}) 
  footer.footer
    .footer__container
      section.footer__logo
        +logo('colorWithText')
        p.footer__promo #{footerPromo}
      section.footer__wrapper
        .footer__nav
           +navigation({
            navList: [
            {name: 'навигация', url: "./error-page.html", isActived: true, isHeading: true}, 
            {name: 'О нас', url: "./error-page.html"}, 
            {name: 'Новости', url: "./error-page.html"}, 
            {name: 'Служба поддержки', url: "./error-page.html"}, 
            {name: 'Услуги', url: "./error-page.html"} 
           ]})
        .footer__aboutUs
          +navigation({
            navList: [
            {name: 'o нас', url: "./error-page.html", isActived: true, isHeading: true}, 
            {name: 'О сервисе', url: "./error-page.html"}, 
            {name: 'Наша команда', url: "./error-page.html"}, 
            {name: 'Вакансии', url: "./error-page.html"}, 
            {name: 'Инвесторы', url: "./error-page.html"} 
           ]})
        .footer__support
          +navigation({
            navList: [
            {name: 'служба поддержки', url: "./error-page.html", isActived: true, isHeading: true}, 
            {name: 'Соглашения', url: "./error-page.html"}, 
            {name: 'Сообщества', url: "./error-page.html"}, 
            {name: 'Связь с нами', url: "./error-page.html"} 
           ]})
        .footer__subscribe
          p.footer__subscribeHeading Подписка
          p.footer__subscribeText Получайте специальные предложения и новости сервиса
          .footer__subscribeEmail
    .footer__copyrightBar
      .footer__copyright Copyright © 2018 Toxin отель. Все права защищены.
      .footer__social
        +socialIcons({
          socialIcons: [
          { title: "twitter", link: "https://twitter.com" },
          { title: "facebook", link: "https://facebook.com" },
          { title: "instagram", link: "https://instagram.com" }
        ]})
