include ../logo/logo

mixin footer ({}) 
  footer.footer
    .footer__logo
      +logo('colorWithText')
    .footer__wrapper
      //- include ../nav/nav
      .footer__nav
        //- +navigation(
  
  

    //- Copyright © 2018 Toxin UI Kit. All rights reserved.
