@import '../../scss/variables.scss';

::-webkit-input-placeholder {
  color: $color--darkShade25;
}

input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
  margin: 0;
}

input[type=date] {
  text-transform: uppercase;
  // color: $color--darkShade25;
  
  &:hover,
  &:focus {
    color: $color--darkShade75;
  }
}

.textField {
  &_size {
    &_big {
      // max-width: 320px;
      width: 320px;
    }

    &_middle {
      // max-width: 266px;
      width: 266px;
    }

    &_small {
      // max-width: 150px;
      width: 150px;
    }
  }

  &__input {
    height: 44px;
    padding: 0 0 0 15px;
    box-sizing: border-box;
    border: 1px solid $color--darkShade25;
    border-radius: 4px;
    width: 100%;
    outline: none;
    
    font-family: $mainFont;
    font-size: 14px;
    line-height: 18px;
    color: $color--darkShade75;
    text-overflow: ellipsis;
    
    &:hover,
    &:focus {
      border: 1px solid $color--darkShade50;
    }
    
    &_isFocused {
      border: 1px solid $color--darkShade50;
    }
  }
}
