@import '../../scss/variables.scss';

input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
  margin: 0;
}

.textField {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid $color--darkShade25;
  border-radius: 4px;
  
  &_isFocused {
    border: 1px solid $color--darkShade50;
  }
  
  &:hover,
  &:focus {
    border: 1px solid $color--darkShade50;
  }
  
  &__input {
    height: 42px;
    padding: 0 0 0 15px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 4px;
    
    font-family: $mainFont;
    font-size: 14px;
    line-height: 18px;
    color: $color--darkShade50;
    text-overflow: ellipsis;

    &_isUppercase {
      text-transform: uppercase;
    }
    
    &_withButton {
      width: 221px;
    }
  }
  
  &__buttonSubscribed {
    border: none;
    outline: none;
    width: 43px;
    padding: 0px;
    border-radius: 0 4px 4px 0;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: $primaryGradient;
    color: transparent;

    &::after {
      content: "\e904";
      font-family: $materialIcons;
      font-size: 16px;
      cursor: pointer;
    }
  }
}
