mixin textField({ type="", placeholder="", isFocused=false, value="" })
  -
    const inputFocused = isFocused ? "textField__input_isFocused" : "";
    const textUppercase = isUppercase ? "textField__input_isUppercase" : "";

    const inputAttributes = {
    class: ['textField__input', inputFocused, textUppercase],
    type: type,
    placeholder: placeholder,
    value: value
    }

  .textField
    input&attributes(inputAttributes)
      
