@import '../../scss/variables.scss';

.textField {

  &__input {

    &_small {
      width: 150px;
    }

    &_middle {
      width: 266px;
    }

    &_big {
      width: 320px;
    }
  }

  &__input {
    height: 44px;
  }



}
