@import '../../scss/variables.scss';

.colors {
  list-style: none;
  margin: 0;
  padding: 0;

  &__wrap {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  &__sample {
    width: 70px;
    height: 70px;
    border-radius: 6px;
  }

  &__description {
    margin-left: 40px;
  }

  &__title,
  &__code {
    font-family: "Montserrat-Bold";
    font-size: 19px;
    line-height: 28px;
    color: $color--main;
  }
  
  &__code {
    font-family: $mainFont;
  }

  &__darkShade100 {
    background: $color--main;
  }

  &__darkShade75 {
    background: $color--darkShade75;
  }

  &__darkShade50 {
    background: $color--darkShade50;
  }

  &__darkShade25 {
    background: $color--darkShade25;
  }

  &__darkShade5 {
    background: $color--darkShade5;
  }

  &__purple {
    background: $color--designMain;
  }

  &__green {
    background: $color--designSecond;
  }
}
