mixin rangeSlider({ text="" })

  .rangeSlider
    .rangeSlider__scale
      .rangeSlider__handleFirst
      .rangeSlider__coloredScale
      .rangeSlider__handleSecond
    .rangeSlider__text #{text}
    
