@import '../../scss/variables.scss';

.rangeSlider {

  &__scale {
    padding-left: 74px;
    display: flex;
    align-items: center;
    height: 6px;
    width: 100%;
    border: 1px solid $color--darkShade25;
    border-radius: 3px;
    box-sizing: border-box;
  }

  &__handleFirst,
  &__handleSecond {
    position: relative;
    z-index: 3;
    width: 12px;
    height: 12px;
    background: $secondGradient;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
  }

  &__handleSecond {
    margin-left: -4px;
  }

  &__coloredScale {
    margin-left: -4px;
    width: 78px;
    height: 6px;
    background: $secondGradient;
    border-radius: 3px;
  }

  &__text {
    padding-top: 14px;
    font-family: $mainFont;
    font-size: 12px;
    line-height: 14px;
    color: $color--darkShade50;
  }
}
