mixin toggle({ title="", checked=false } = {})
  label.toggle__label
    input&attributes({
      class: "toggle__input",
      name: "toggle",
      type: "checkbox",
      checked: checked,
    })
    span.toggle__box
    span.toggle__title #{title}
