.headerTwo
  .headerTwo__logoCircle 
    include ../commonBlocks/logoCircle/logoCircle
  .headerTwo__logoTitle
    include ../commonBlocks/logoTitle/logoTitle
  include ../commonBlocks/nav/nav
  img.headerTwo__restangle(src="./img/restangle.png")
  .headerTwo__guestName Cosmin Negoita