// colors
$color--main: #1F2041;
$color--darkShade75: rgba(31, 32, 65, 0.75);
$color--darkShade50: rgba(31, 32, 65, 0.50);
$color--darkShade25: rgba(31, 32, 65, 0.25);
$color--darkShade5: rgba(31, 32, 65, 0.05);
$color--designMain: #BC9CFF;
$color--designSecond: #6FCF97;


// fonts
$mainFont: "Montserrat-regular";
$mainFontBold: "Montserrat-Bold";
$mainFont--size: 14px;


// borders
$border__dark: 1px solid $color--darkShade50;
$border__light: 1px solid $color--darkShade25;
$height__expand: 117.56px;


// gradients
$primaryGradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$secondGradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
