@import '../../scss/variables.scss';


.cards {
  display: flex;
  margin: 72px auto 50px;
  justify-content: center;
  
  &__container {
    width: 380px;

    &:last-child {
      width: 320px;
    }
    
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__containerFirst {
    margin-bottom: 40px;
  }

  &__airDatepicker {
    margin-bottom: 40px;
  }

  &__roomWidgetFirst {
    margin-bottom: 40px;
  }
}
