include ../components/header/header
include ../components/footer/footer

block titles
block backgroundColor

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}

  body
    .page__wrapper( class = backgroundColor )
      .page__header
        +header({})

      .page__cont
        block content

      .page__foot
        +footer({ footerPromo: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»'})
