include ../components/logo/logo.pug
include ../components/linksPages/linksPages.pug

block titles
block backgroundColor

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
    link(rel="icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png")

  body
    .page__wrapper( class = backgroundColor )
      .page__logo
        +logo('colorless')

      .page__content
        block content

      block footer
        .page__footer
          +linksPages({
            listLinks: [
              { link: "pageStart", title: "Start Page" },
              { link: "setColorsType", title: "Colors & Type" },
              { link: "headersFooters", title: "Headers & Footers" },
              { link: "formElements", title: "Form Elements" },
              { link: "cards", title: "Cards" },
            ]
          })
