.logoCircle {
  width: 40px;
  height: 40px;
  display: flex;
}
.logoCircle__circle {
  width: 40px;
  height: 40px;
}
.logoCircle__vector1 {
  width: 11.76px;
  height: 11.76px;
  margin: 15.29px 18.82px 12.94px 9.41px;
  position: absolute;
  }
.logoCircle__vector2 {
  width: 9.12px;
  height: 5.91px;
  margin: 15.29px 9.41px 18.79px 21.47px;
  position: absolute;
}
