mixin navigation( navList=[] )
  nav.nav
    ul.nav__list
      each navItem in navList
        li.nav__item
          a.nav__link #{navItem.name}
          if navItem.dropdown
            .nav__dropdown
