mixin navigation( navList )
  nav.nav
    ul.nav__list
      each navItem in navList
        - const itemWithArrow = navItem.dropdown ? "nav__item_withArrow" : "";
        li(class=itemWithArrow, class=['nav__item'])
          - const itemIsActived = navItem.isActived ? 'nav__link_active': '';
          a&attributes({
            class: ['nav__link', itemIsActived],
            href: navItem.url
            }) #{navItem.name}
          if navItem.dropdown
            .nav__dropdown 
              ul.nav__optionsList
                each optionsItem in navItem.optionsList
                  li.nav__optionsItem
                    a&attributes({
                      class: 'nav__optionsLink',
                      href: optionsItem.url
                    }) #{optionsItem.name}
