mixin navigation( navList)
  nav.nav
    ul.nav__list
      each navItem in navList
        li.nav__item
          a.nav__link #{navItem.name}
          if navItem.dropdown
            span.nav__dropdown
            ul.nav__servicesList
              each servicesItem in navItem.servicesList
                li.nav__servicesItem
                  a.nav__servicesLink #{servicesItem.name}
