mixin navigation({ listStyleNone='', navList=[] })
  nav.nav
    - const navListStyle = listStyleNone ? 'nav__list_style-none' : '';
    ul(class=['nav__list', navListStyle])
      each navItem in navList
        - const itemMarginBottom = navListStyle ? 'nav__item_margin-bottom' : '';
        - const itemWithArrow = navItem.dropdown ? "nav__item_withArrow" : "";
        li(class=['nav__item', itemWithArrow, itemMarginBottom])
          - const itemIsActived = navItem.isActived ? 'nav__link_active': '';
          - const itemIsHeading = navItem.isHeading ? 'nav__link_heading' : '';
          a&attributes({
            class: ['nav__link', itemIsActived, itemIsHeading],
            href: navItem.url
          }) #{navItem.name}
          if navItem.dropdown
            .nav__dropdown 
              ul.nav__optionsList
                each optionsItem in navItem.optionsList
                  li.nav__optionsItem
                    a&attributes({
                      class: 'nav__optionsLink',
                      href: optionsItem.url
                    }) #{optionsItem.name}
