mixin navigation( navList )
  nav.nav
    ul.nav__list
      each navItem in navList
       - const itemWithArrow = navItem.dropdown ? "nav__item_withArrow" : ""
        li(class=itemWithArrow, class=['nav__item'])
          if navItem.isActived
            a&attributes({
            class: ['nav__link', 'nav__link_active'],
            href: navItem.url
            }) #{navItem.name}
          else 
            a&attributes({
            class: 'nav__link',
            href: navItem.url
            }) #{navItem.name}
          if navItem.dropdown
            ul.nav__optionsList
              each optionsItem in navItem.optionsList
                li.nav__optionsItem
                  a&attributes({
                    class: 'nav__optionsLink',
                    href: optionsItem.url
                  }) #{optionsItem.name}
