@import '../../scss/variables.scss';


.nav {
  display: flex;
 
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 20px;
    font-family: $mainFont;
    font-size: $mainFont--size;
    line-height: 17px;
    color: $color--darkShade50;
    display: flex;
    cursor: pointer;
  }
  
  &__dropdown::after {
    content: '\e902';
    font-family: $materialIcons;
    color: $color--darkShade50;
    cursor: pointer;
    margin-left: 8px;
    padding-top: 4px;
  }
  

}
