@import '../../scss/variables.scss';


.nav {
  display: flex;
 
  &__list,
  &__servicesList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 20px;
    font-family: $mainFont;
    font-size: $mainFont--size;
    line-height: 17px;
    color: $color--darkShade50;
    display: flex;
    cursor: pointer;
    position: relative;
  }
  
  &__dropdown::after {
    content: '\e902';
    font-family: $materialIcons;
    color: $color--darkShade50;
    cursor: pointer;
    margin-left: 8px;
    padding-top: 4px;
  }
  
  &__servicesList {
    display: none;
    background: #FFFFFF;
    position: absolute;
    margin-top: 30px;
    min-width: 140px;
    border-radius: 5px;
    // right: 5%;
  }

  &__item:hover &__servicesList {
    display: block;
  }
  
  &__servicesItem {
    margin-bottom: 20px;
    padding: 6px 12px;

  }

}
