mixin button (options) 
  -
    let button = 'button'
    if (options.colorWhite == true) {button += ' button_color_white'}
    if (options.hover == true) {button += ' button_hover'}
    if (options.link == true) {button += ' buttonLink'}
    if (options.hoverLink == true) {button += ' buttonLink_hover'}

  form(action="#").button-form
    button(type='button' onclick='return false' class = button)= options.title




















//- mixin buttonTitleHover (options)
//-   form(action="#")
//-     button(type='button' onclick='return false').button__title.button__titleHover= options.title
