@import '../../scss/variables.scss';

.socialIcons {
  &__link {
    background: $primaryGradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: $materialIcons;
    font-size: 24px;
      
    &_twitter::before {
      content: '\e901';
    }
    &_facebook::before {
      content: '\e902';
    }
    &_instagram::before {
      content: '\e903';
    }

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
